<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <!-- sección para agregar -->
    <div class="col-4 mt-5 mb-5">
        <form  name="mensajeform" [(formGroup)]="mensajeform" (ngSubmit)="mandarMensaje(mensajeform)" >
          <div class="form-group">
            <label for="">Seleccione salon</label>
            <Select class="form-control" (change)="selecionarSalon($event.target.value)">
              <option  disabled>Selecciona un salón</option>
              <option *ngFor="let salon of obtenido" value="{{ salon._id }}">{{ salon.Grado+' '+salon.Seccion+' del ' + salon.Ciclo }}</option>
            </Select>
          </div>
          <div class="form-group">
            <label for="">Seleccione alumno</label>
            <Select class="form-control" *ngIf="alumnos" (change)="seleccionarAlumno($event.target.value)">
              <option disabled>Selecciona un alumno</option>
                <option  *ngFor="let alumno of alumnos" value="{{ alumno._id }}">{{ alumno.Nombre }}</option>
            </Select>
          </div>
          <div class="form-group">
            <label for="">TItulo</label>
            <input type="text" class="form-control" formControlName="Titulo"
            [ngClass]="{'is-invalid': mensajeform.get('Titulo').touched
                            && mensajeform.get('Titulo').invalid, 'is-valid': mensajeform.get('Titulo').touched
                            && mensajeform.get('Titulo').valid}">
          </div>
          <div class="form-group">
            <label for="">Mensaje</label>
            <textarea  cols="30" rows="5" class="form-control" formControlName="Mensaje"
            [ngClass]="{'is-invalid': mensajeform.get('Mensaje').touched
                            && mensajeform.get('Mensaje').invalid, 'is-valid': mensajeform.get('Mensaje').touched
                            && mensajeform.get('Mensaje').valid}"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" [disabled]="!mensajeform.valid" class="btn btn-primary btn-block">Guardar</button>
          </div>
        </form>
    </div>

    <!-- sección para ver las alertas mandadas -->
    <div class="col mt-5 mb-5">

        <div class="row">

          <div class="col-6 mb-3" *ngFor="let alerta of this.mostrar_alertas">
            <div class="card " >
              <div class="card-body">
                <h5 class="card-title">{{ alerta.Titulo }}</h5>
                <p class="card-text">{{ alerta.Descripcion }}</p>
              </div>
              <div class="card-footer">
                <div class="text-left">
                  para: <b>{{ alerta.alumno.Nombre +' '+ alerta.alumno.Apellido_paterno}}</b>
                </div>
                <button (click)="eliminar(this.alerta._id)" class="btn btn-danger">Eliminar mensaje</button>
              </div>
            </div>
          </div>

        </div>



    </div>


  </div>
</div>
