.box-container {
    background-color:white;
    padding: 2rem;
    box-shadow: 0rem 0rem 0.3rem rgba(45, 134, 236, 0.548);
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    margin-top: 2rem;
}

.btn {
    font-size: .9rem;
    padding-top: 0.7rem;
    padding-bottom: .7rem;
    outline: transparent !important;
    transition: .4s;
    background-color: #95E1FB;
    width: 100%;
    color:black
}

.otros:hover{
    background-color:white;
    color: black;
    
}

.t-header {
    background-color:white
  
}

.t-header:hover{
    background-color:#95E1FB;
  
}


.hover-chido:hover { 
    background-color:#FD857F;
    transform: scale(1.02);
    color: black
  }
.borde{
    
    font-size: 8px;
}

body{
    background-color: #95E1FB
}

#tablascroll {
    overflow:scroll;
    height:23rem;
     width:500px;
    
}
#tablascroll table {
    width:345px;
    
}
.form-control{
    outline: transparent !important;
  border-color: #95E1FB;
}

label{
    font-family: 'Poppins', 'sans-serif'!important;
  color: black
}







