<app-navbar></app-navbar>
<img class="img-fluid primario mh-100" src="assets/public/images/image_5.gif" alt="principal">
<hr class="my-4">
<div class="container-fluid blanco">
  <div class="row">
    <div class="col-xs-0 col-sm-1 col-md-1 col-lg-2 col-xl-1"></div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-xl-10 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
      <h3 class="text-center">Misión</h3>
      <blockquote class="blockquote"> 
        <p class="text-center">A través del desarrollo de habilidades, formar hombres y mujeres éticos, con sólida calidad académica dentro de un sistema bicultural y socioemocional, siendo capaces de actuar libre y responsablemente en beneficio de la sociedad.</p>
      </blockquote>
    </div>
  </div>
</div>
<hr class="my-4">
<div class="container-fluid primario wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s"><img class="img-fluid" src="assets/public/images/D_1.png" alt="alt"></div>
<hr class="my-4">
<div class="container">
  <div class="row"> 
    <div class="col-12">
      <div class="h3 text-center">Nuestra formación</div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 wow fadeInLeft" data-wow-duration="1.4s" data-wow-delay="0.5s">
      <div class="card"><br><img class="card-img" src="assets/public/images/nursery.png" alt="alt">
        <div class="card-body text-center">
          <h3 class="card-title">Trabajo en equipo</h3>
        </div>
        <div class="card-text text-center">
          <p class="lead">Trabajar en equipo es importante</p>
        </div>
      </div><br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 wow fadeInRight" data-wow-duration="1.4s" data-wow-delay="0.8s">
      <div class="card"><br><img class="card-img" src="assets/public/images/prekinder.png" alt="alt">
        <div class="card-body text-center">
          <h3 class="card-title">Tolerancia</h3>
        </div>
        <div class="card-text text-center">
          <p class="lead">La mayor virtud</p>
        </div>
      </div><br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 wow fadeInLeft" data-wow-duration="1.4s" data-wow-delay="1s">
      <div class="card"><br><img class="card-img" src="assets/public/images/kinder.png" alt="alt">
        <div class="card-body text-center">
          <h3 class="card-title">Amistad</h3>
        </div>
        <div class="card-text text-center">
          <p class="lead">Los primeros pasos al éxito</p>
        </div>
      </div><br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 wow fadeInRight" data-wow-duration="1.4s" data-wow-delay="1.3s">
      <div class="card"><br><img class="card-img" src="assets/public/images/Primaria.png" alt="alt">
        <div class="card-body text-center">
          <h3 class="card-title">Responsabilidad</h3>
        </div>
        <div class="card-text text-center">
          <p class="lead">Educando personas responsables</p>
        </div>
      </div><br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 wow fadeInLeft" data-wow-duration="1.4s" data-wow-delay="0.7s">
      <div class="card"><br><img class="card-img" src="assets/public/images/secundaria.png" alt="alt">
        <div class="card-body text-center">
          <h3 class="card-title">Respeto</h3>
        </div>
        <div class="card-text text-center">
          <p class="lead">Alcanzar el éxito y crecer</p>
        </div>
      </div><br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 wow fadeInRight" data-wow-duration="1.4s" data-wow-de lay="0.8s">
      <div class="card"><br><img class="card-img" src="assets/public/images/Preparatoria.png" alt="alt">
        <div class="card-body text-center">
          <h3 class="card-title">Honestidad</h3>
        </div>
        <div class="card-text text-center">
          <p class="lead">Listos para triunfar</p>
        </div>
      </div><br>
    </div>
  </div>
</div>
<hr class="my-4">
