<app-navbar></app-navbar>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Matricula</th>
      <th scope="col">Nombre</th>
      <th scope="col">Ap. Paterno</th>
      <th scope="col">Ap. Materno</th>
      <th scope="col">Fecha Nac.</th>
      <th scope="col">Dirección</th>
      <th scope="col">Generación</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    <!-----FOR PARA DATOS PRIMARIOS------->
    <tr *ngFor="let item of this.alumnos">       <!--  Hago un for para leer los contactos---->
      <th scope="row" style="font-size:0.9rem;">{{item.Matricula}}</th>
      <td>{{item.Nombre}}</td>
      <td>{{item.Apellido_paterno}}</td>
      <td>{{item.Apellido_materno}}</td>
      <td>{{item.Fecha_nacimiento}}</td>
      <td>{{item.Direccion}}</td>
      <td>{{item.Generacion}}</td>
      <td>
          <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="Seleccionado(item)">
            Ver mas                                                                                                                                
        </button> 
      </td>
    </tr>
  </tbody>
</table>


<!-- Modal -->
<div *ngIf="this.alumnosel" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Información detallada de {{alumnosel.Nombre}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!------MODAL BODY-------->
        <div class="modal-body" style="overflow:auto;" >

            <!-----FORM----->
            <form name="form" [(formGroup)]="form" (ngSubmit)="GuardarAlumno()">
                
                <div class="form-group">
                    <label for="">Nombre(s)</label>
                    <input type="text" class="form-control" 
                            placeholder="Ingrese su(s) Nombre(s)"
                            formControlName="Nombre"
                            [ngClass]="{'is-invalid': form.get('Nombre').touched 
                      && form.get('Nombre').invalid, 'is-valid': form.get('Nombre').touched 
                      && form.get('Nombre').valid}">
                    <div class="invalid-feedback">
                        <ul>
                            <li>El Nombre es obligatorio.</li>
                            <li>Mínimo debe contener 3 caracteres.</li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Apellido Paterno</label>
                    <input type="text" class="form-control" 
                            placeholder="Ingrese su Apellido Paterno"
                            formControlName="Apellido_paterno"
                            [ngClass]="{'is-invalid': form.get('Apellido_paterno').touched 
                          && form.get('Apellido_paterno').invalid, 'is-valid': form.get('Apellido_paterno').touched 
                          && form.get('Apellido_paterno').valid}">
                    <div class="invalid-feedback">
                        <ul>
                            <li>El Apellido Paterno es obligatorio.</li>
                            <li>Mínimo debe contener 3 caracteres.</li>
                        </ul>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="">Apellido Materno</label>
                    <input type="text" class="form-control" 
                            placeholder="Ingrese su Apellido Materno"
                            formControlName="Apellido_materno"
                            [ngClass]="{'is-invalid': form.get('Apellido_materno').touched 
                          && form.get('Apellido_materno').invalid, 'is-valid': form.get('Apellido_materno').touched 
                          && form.get('Apellido_materno').valid}">
                    <div class="invalid-feedback">
                        <ul>
                            <li>El Apellido Materno es obligatorio.</li>
                            <li>Mínimo debe contener 3 caracteres.</li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Dirección</label>
                    <input type="text" class="form-control" 
                            placeholder="Ingresa tu dirección"
                            formControlName="Direccion"
                            [ngClass]="{'is-invalid': form.get('Direccion').touched 
                      && form.get('Direccion').invalid, 'is-valid': form.get('Direccion').touched 
                      && form.get('Direccion').valid}">
                    <div class="invalid-feedback">
                        <ul>
                            <li>La Dirección es obligatoria.</li>
                            <li>Es necesario incluir Colonia, Calle y número.</li>
                        </ul>
                    </div>
                </div>  

                <!---------DATOS SECUNDARIOS------------>
                
                    <div class="datossecundarios">
                        <div *ngFor="let item2 of alumnosel2">
                            <div class="form-group">
                                <label for="">CURP</label>
                                <input type="text" class="form-control" 
                                        placeholder="Ingresa tu CURP"
                                        formControlName="Curp"
                                        [ngClass]="{'is-invalid': form.get('Curp').touched 
                                        && form.get('Curp').invalid, 'is-valid': form.get('Curp').touched 
                                        && form.get('Curp').valid}">
                                <div class="invalid-feedback">
                                    <ul>
                                        <li>El CURP es obligatorio.</li>
                                        <li>Es necesario tu CURP.</li>
                                    </ul>
                                </div>
                            </div>
            
                            <div class="form-group">
                                <label for="">Nombre del Padre o Tutor Legal</label>
                                <input type="text" class="form-control" 
                                        placeholder="Ingresar Nombre"
                                        formControlName="nombre_padre_tutor"
                                        [ngClass]="{'is-invalid': form.get('nombre_padre_tutor').touched 
                                        && form.get('nombre_padre_tutor').invalid, 'is-valid': form.get('nombre_padre_tutor').touched 
                                        && form.get('nombre_padre_tutor').valid}">
                                <div class="invalid-feedback">
                                    <ul>
                                        <li>El nombre del Padre o Tutor es obligatorio.</li>
                                        <li>Mínimo deben ser 3 caracteres.</li>
                                    </ul>
                                </div>
                            </div>    
                                
                            <div class="form-group">
                                <label for="">Teléfono del Padre o Tutor Legal</label>
                                <input type="text" class="form-control" 
                                        placeholder="Ingresa un Teléfono fijo o celular"
                                        formControlName="telefono_padre_tutor"
                                        [ngClass]="{'is-invalid': form.get('telefono_padre_tutor').touched 
                                        && form.get('telefono_padre_tutor').invalid, 'is-valid': form.get('telefono_padre_tutor').touched 
                                        && form.get('telefono_padre_tutor').valid}">
                                <div class="invalid-feedback">
                                    <ul>
                                        <li>El número telefónico es obligatorio.</li>
                                        <li>Mínimo deben ser 8 caracteres</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-----DATOS SECUNDARIOS------>
            </form>
        </div><!------MODAL BODY--------> 
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cerrar</button>
            <button data-dismiss="modal" type="button" class="btn btn-primary" (click)="ActualizaAlumno()">Guardar</button>
        </div>
        </div>
    </div>
</div>