<app-navbar></app-navbar>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <table class="table tableh ">
          <thead>
            <tr>
              <th>Nombre de Materia</th>
              <th class=" text-center">Unidades</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let materia of materias">
              <td>{{ materia.materia_Nombre}}</td>
              <td>
                <table class="table table-sm text-center">
                  <thead>
                    <tr>
                      <th>Nº Unidad:</th>
                      <th>Nombre de Unidad: </th>
                      <th>Horas para la unidad: </th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let unidad of this.materia.unidades">
                    <tr>
                      <td>{{unidad.Num_unidad}}</td>
                      <td>{{unidad.Nombre_unidad}}</td>
                      <td>{{unidad.Horas_de_unidad}}</td>

                     </tr>

                  </tbody>
                </table>
              </td>
              <td>
                  <button class="btn btn-block btn-primary" (click)="editar(this.materia,this.materia._id)" data-toggle="modal" data-target="#editar-modal" >Editar</button>
                  <button class=" btn-danger btn-block" (click)="eliminar(this.materia)">Eliminar</button>
                </td>
            </tr>

          </tbody>
        </table>
        <!-- modal  -->
        <div id="editar-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header" >
                  <h4 class="modal-title text-center">Editar Materia</h4>
                  <button type="button" class="close"  data-toggle="collapse" data-target="#editarunidad" data-dismiss="modal">&times;</button>
              </div>

              <div class="modal-body" *ngIf="this.obtener_editar" >
                <form name="formulario" [(formGroup)]="formulario" (ngSubmit)="guardarMateria(formulario)">
                    <div class="form-group">
                      <label for="">Nombre de la Materia</label>
                      <input type="text" class="form-control" placeholder="{{this.obtener_editar.materia_Nombre}}"
                      formControlName="Nombre"
                      [ngClass]="{'is-invalid': formulario.get('Nombre').touched
                            && formulario.get('Nombre').invalid, 'is-valid': formulario.get('Nombre').touched
                            && formulario.get('Nombre').valid}">

                            <input type="hidden" formControlName="id">
                    </div>
                    <div class="form-group">
                      <label for="">Seleccione una unidad a editar </label>
                      <select class=" form-control"  (change)="editarUnidad($event.target.value)" >
                        <option value="nuevo">Nuevo</option>
                        <option *ngFor="let unidad of this.obtener_editar.unidades" value="{{unidad.Nombre_unidad}}">{{unidad.Nombre_unidad}}</option>
                      </select>
                    </div>

                    <form name="formunidad" [(formGroup)]="formunidad" (ngSubmit)="guardarUnidad(formunidad)" *ngIf="unidad_seleccionada">
                    <div class="form-group">
                      <label for="">Nombre de unidad</label>
                      <input type="text" class="form-control"  placeholder="" formControlName="Unidad"
                      [ngClass]="{'is-invalid': formunidad.get('Unidad').touched
                            && formunidad.get('Unidad').invalid, 'is-valid': formunidad.get('Unidad').touched
                            && formunidad.get('Unidad').valid}" >
                    </div>

                    <div class="form-group">
                      <label for="">Número de unidad</label>
                      <input type="number" min="1" class=" form-control" formControlName="Numero"
                      [ngClass]="{'is-invalid': formunidad.get('Numero').touched
                            && formunidad.get('Numero').invalid, 'is-valid': formunidad.get('Numero').touched
                            && formunidad.get('Numero').valid}">
                    </div>
                    <div class=" form-group">
                      <label for="">Horas por unidad</label>
                      <input type="number" min='1' class=" form-control" formControlName="Hora"
                      [ngClass]="{'is-invalid': formunidad.get('Hora').touched
                            && formunidad.get('Hora').invalid, 'is-valid': formunidad.get('Hora').touched
                            && formunidad.get('Hora').valid}">
                    </div>
                    <div class="form-group">
                      <button type="submit" [disabled]="!formunidad.valid" class="btn btn-block" id="agregar-unidad"  data-toggle="collapse" data-target="#editarunidad" >Editar</button>
                    </div>
                  </form>

                  <div class="modal-footer">
                    <button type="submit" [disabled]="!formulario.valid"  class="btn-block btn-info"   data-toggle="collapse" data-target="#editarunidad" data-dismiss="modal" >Actualizar materia</button>
                  </div>


                </form>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
