.box-container {
    background-color:white;
    padding: 2rem;
    box-shadow: 0rem 0rem 0.3rem rgba(45, 134, 236, 0.548);
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    margin-top: 2rem;
}
.btn {

    font-size: .9rem;
    padding-top: 0.7rem;
    padding-bottom: .7rem;
    outline: transparent !important;
    transition: .4s;
    background-color: #95E1FB;
    color: black;
    
}

.hover-chido:hover { 
    background-color:#95E1FB;
    transform: scale(1.02);
    color: black
  }
.t-header {
    background-color:#95E1FB;
}
.eliminar:hover {
    background-color: red
}
.otros:hover{
    background-color: white;
    color: black
}
  