
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <table class="table tableh ">
          <thead>
            <tr>
              <th>Nombre de Materia</th>
              <th class=" text-center">Unidades</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let materia of materias">
              <td>{{ materia.materia_Nombre}}</td>
              <td>
                <table class="table table-sm text-center">
                  <thead>
                    <tr>
                      <th>Nº Unidad:</th>
                      <th>Nombre de Unidad: </th>
                      <th>Horas para la unidad: </th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let unidad of this.materia.unidades">
                    <tr>
                      <td>{{unidad.Num_unidad}}</td>
                      <td>{{unidad.Nombre_unidad}}</td>
                      <td>{{unidad.Horas_de_unidad}}</td>

                     </tr>

                  </tbody>
                </table>
              </td>
              <td>
                  <button class="btn btn-block btn-primary" (click)="editar(this.materia)" data-toggle="modal" data-target="#editar-modal" >Editar</button>
                  <button class=" btn-danger btn-block" (click)="eliminar(this.materia)">Eliminar</button>
                </td>
            </tr>

          </tbody>
        </table>
        <div id="editar-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                  <h4 class="modal-title text-center">Editar Materia</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <div class="modal-body">
                  <form >
                    <div class="form-group">
                      <label for="">Nombre de materia</label>
                      <input type="text" value="{{ this.obtener_editar.materia_Nombre }}">
                    </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
