<div>
  <div class="col-12">
    <div class="box-container">
      <div class="row">
      </div>
      <div class="row box-container-header">
        <div class="col-md-4">
            <h1 class="box-container-header">Salones</h1>
        </div>
        <div class="col-md-4">
         
        </div>
        <div class="col-md-4">
           <button class="btn btn-primary otros" (click)="agregarsalon()">Agregar salon</button>
        </div>
      </div>
      <table class="table">
          <thead>
              <tr>
                  <th scope="col" class="t-header">Grado</th>
                  <th scope="col" class="t-header"> Sección</th>
                  <th scope="col" class="t-header">Profesor asignado</th>
                  <th scope="col"  class="t-header" >Ciclo escolar</th>
                  <th scope="col"  class="t-header"></th>
                  <th scope="col"  class="t-header"></th>
                  <th scope="col"  class="t-header"></th>
                  <th scope="col"  class="t-header"></th>
                  
              </tr>
          </thead>
          <tbody>
              <tr class="hover-chido">
                  <th scope="row" class="t-subtitles">1</th>
                  <td>A</td>
                  <td>Benito Tocamelas</td>
                  <td>Enero-Abril</td>
                  <td><button class="btn btn-primary otros" (click)="vermaterias()">Ver materias</button></td>
                  <td><button class="btn btn-primary otros"(click)="veralumnos()">Ver alumnos</button></td>
                  <td><button class="btn btn-primary otros">Editar</button></td>
                  <td><button class="btn btn-primary eliminar">Eliminar</button></td>
              </tr>
          </tbody>
      </table>
 </div>
  </div>
</div>